<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="everadix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <everadix.Properties.Settings>
            <setting name="PythonBase" serializeAs="String">
                <value>C:/Python27/</value>
            </setting>
            <setting name="PythonExecutable" serializeAs="String">
                <value>Python.exe</value>
            </setting>
            <setting name="DecompylerScript" serializeAs="String">
                <value>uncompyle2</value>
            </setting>
            <setting name="EVEPath" serializeAs="String">
                <value>C:/Program Files (x86)/CCP/EVE/</value>
            </setting>
        </everadix.Properties.Settings>
    </userSettings>
</configuration>